<div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br />
      <div style="width: 100%; margin: 0 auto; padding-bottom: 5%">
        <h2 class="header center mainTitleColor">Projet d'Infrastructure Logicielle pour le Bâtiment Intelligent</h2>
      </div>
      <div class="row center">
        <h5>
          Cette interface web vous permettra de prendre connaissance du projet mené dans le cadre du projet
          <span style="font-variant: small-caps"> pilbi </span> réalisé sur l'année universaitaire 2018 - 2019.
        </h5> <br/>
      </div>
      <div class="row center">
        <div style="margin-right: 10%; display:inline-block">
        <a href="#/projet" class="btn-large waves-effect waves-light bouton">Vue sur le Projet</a>
      </div>
      <div style="display:inline-block">
        <a href="#/journal" class="btn-large waves-effect waves-light bouton">Consulter le Journal</a>
      </div>
      </div>
      <br /><br />
    </div>
  </div>

</div>
