<div>
  <div class="container">
    <div class="row center">
      <div class="col s12 m12">
        <br />
        <h2 class="light secondTitleColor">Journal du projet</h2>
        <br />
      </div>
    </div>
    <br />
  </div>


  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <ul class="collection">

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-08-10-18')">
                08 Octobre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-08-10-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li>Le développement durable, qui doit être au coeur de ce projet</li>
                <li>Les thèmatiques envisagées pour le projet</li>
                <li>Les problèmatiques relevant du 'bâtiment intelligent' pour chaque thématique</li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>Economie Energie à la maison</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> Détecteur de l'intensité lumineuse pour adapter l'éclairage et conserver la même luminosité </li>
                    <li> Prise intelligente capable de se déconnecter du réseau électrique </li>
                    <li> Détecteurs de présence / mouvement pour activer luminaires, prise intelligente, etc.</li>
                  </ul>
                  <br />
                <li>Agriculture :</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> Détecteur de hauteur </li>
                    <li> Aide à la plantation <em>(indiquer le meilleur moment en fonction de la météo)</em></li>
                    <li> Calcul humidité du sol à corrélée avec la météo à venir </li>
                    <li> Régulation de la température <em>(sous serre uniquement)</em> </li>
                    <li> Allumer les lampes UV <em>(sous serre uniquement)</em> </li>
                  </ul>
                  <div style="padding-left: 3.5%">
                    <p>En exterieur : la source d'énergie envisagée serait panneau solaire ou pile.</p>
                    <p>En intérieur : aucune contrainte</p>
                    <p>Une application mobile permettrait de prendre connaissance des états
                      des capteurs ainsi que des recommendations sur la plantation.
                      Il s'agirait également de pouvoir paramétrer le système (type de plante, très ou peu économe en eau, etc.)</p>
                    <p>La centrale de traitement communiquerait avec les capteurs par ondes radio via le protocole
                      <a href="javascript:void(0);" onclick="popUp('Page wikipedia LoRaWAN :', 'https://fr.wikipedia.org/wiki/LoRaWAN',
                      'Information complémentaire :', 'http://iot-strasbourg.strataggem.com/lora-lorawan.html')">
                        LoRaWAN
                      </a>.
                      A la reception des données, la centrale effectuerait les calculs en adéquation avec
                      les parametres saisis par l'utilisateur sur l'appli. Puis enverait si besoin
                      des commandes de contrôle aux dispositifs sur le terrain (vannes d'eau connectées,
                      lampes UV, ouverture de la serre, etc.)
                    </p>
                  </div>
              </ol>
            </p>
          </div>

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-15-10-18')">
                15 Octobre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-15-10-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li>Premier retour sur le projet avec enseignant</li>
                <li>Mise en place des dépôts du projet : <em>Drive, Github</em></li>
                <li>Début des recherches sur les technologies pouvant être utilisées</li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>Lien de partage Google Drive :</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li>
                      <a href="https://drive.google.com/drive/folders/1PocxG5gM6bGut2vhK2BvjTSzgOMn8zM6?usp=sharing">
                        https://drive.google.com/drive/folders/1PocxG5gM6bGut2vhK2BvjTSzgOMn8zM6?usp=sharing
                      </a>
                    </li>
                  </ul>
                  <br />
                <li>Lien dépôt Github :</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> <a href="https://www.github.com/Theate/ProjetPILBI.git">https://www.github.com/Theate/ProjetPILBI.git</a></li>
                  </ul>
                  <br />
                <li>Prémisses de recherche :</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> MQTT :
                      <a href="https://www.hivemq.com/blog/how-to-get-started-with-mqtt">
                        https://www.hivemq.com/blog/how-to-get-started-with-mqtt
                      </a>
                    </li>
                    <li> Mosquitto MQTT :
                      <a href="https://projetsdiy.fr/mosquitto-broker-mqtt-raspberry-pi/">
                        https://projetsdiy.fr/mosquitto-broker-mqtt-raspberry-pi/
                      </a>
                    </li>
                    <li> Visualisation : <a href="https://www.keycdn.com/blog/front-end-frameworks">https://www.keycdn.com/blog/front-end-frameworks</a></li>
                  </ul>
                <br />
                <li>Fin de séance :</li>
                  <p>
                    Des recherches approfondies complémentaires doivent être menées afin de pouvoir selectionner les
                    technologies du projet.
                  </p>
                <br />
              </ol>
            </p>
          </div>

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-22-10-18')">
                22 Octobre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-22-10-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li>Définition du planificateur <em>Trello</em></li>
                <li>Rédaction des <a href="#/projet">spécifications générales</a> de l'interface web utilisateur</li>
                <li>Mise en place des technologies</li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>
                  <p>
                    L'utilisation du planificateur facilitera la supervision du projet,
                    ainsi que la mise en place de la gestion de projet par méthode agile.
                  </p>
                </li>
                <li>Technologies retenue pour la gestion des données :</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li>
                      Base de données : <a href="https://fr.wikipedia.org/wiki/InfluxDB">InfluxDB</a> (orientée Time Series)
                    </li>
                    <li>
                      Framework de visualisation des données : <a href="https://grafana.com/">Grafana</a> (connecté avec InfluxDB)
                    </li>
                  </ul>
                <br />
                <li> Premiers pas sur les technologies :</li>
                <ul class="browser-default" style="list-style-type:disc">
                  <li>
                    Mise ne place d'un serveur de test Grafana : <a href="http://anthonys01.com:3000">http://anthonys01.com:3000</a>
                  </li>
                  <li>
                    Premiere table - <I>example</I> - accessible via <a href="https://docs.influxdata.com/influxdb/v1.6/guides/writing_data">API HTTP InfluxDB</a>
                  </li>
                </ul>
                <br />
                <li>Fin de séance :</li>
                  <p>
                    Des recherches approfondies complémentaires doivent être menées afin de pouvoir selectionner les
                    autres technologies du projet.
                  </p>
                <br />
              </ol>
            </p>
          </div>

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-05-11-18')">
                05 Novembre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-05-11-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li> Présentation de l'ébauche de Cahier des charges</li>
                <li> Rédaction finale du Cahier des charges</li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>
                  Le point de vue adopté dans un premier temps dans le CDC
                  ne retranscrit pas toutes les attentes d'un potentiel client.
                  Les points techniques sont également trop détaillés, au détriment
                  des explications fonctionnelles.
                </li>
                <br />
                <li> Reprise et Rédaction du <a href="documentation/CDC.tar" download>Cahier des charges</a> : </li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> Description globale du projet (enjeux, objectif) </li>
                    <li> Détails des systèmes contrôlables </li>
                    <li> Gestion des données capteurs et utilsations </li>
                    <li> Description des attentes IHM </li>
                    <li> Analyse des contraintes imposées pour la réalisation du projet </li>
                  </ul>
                <br />
                <div style="text-align:center">
                  <img src="documentation/Architecture.jpg" alt="Architecture du projet" width="90%">
                  <div style="margin-left:auto; margin-right:auto; width:90%">
                    <p style="text-align:left"><I>Architecture du projet</I></p>
                  </div>
                </div>
              </ol>
            </p>
          </div>

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-20-11-18')">
                20 Novembre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-20-11-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li> Première phase de développement </li>
                <li> Récupération du matériel </li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>
                  Peuplement de la base de données
                </li>
                <br />
                <li> Matériel et composants : </li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> Capteur de luminosité </li>
                    <li> Capteur de température de l'air </li>
                    <li> Capteur de température et humité du sol </li>
                    <li> Carte STM32 Nucleo </li>
                    <li> Raspberry Pi et antenne pour communication LoRa </li>
                  </ul>
              </ol>
            </p>
            <p>
              <I>Note : Le matériel devra être restitué à l'issu du projet.</I>
            </p>
          </div>

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-26-11-18')">
                26 Novembre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-26-11-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li> Architecture ARM MBED pour STM32Nucleo<br />
                  Faisant office de support pour les différents capteurs</li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>
                  Recherche des outils de développement pour l'architecture ARM MBED
                  de la carte STM32Nucleo.
                </li>
                <br />
                <li> Mise en place du dépôt :</li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> Les sources du programme destiné à la carte STM32Nucleo
                    seront hébergées sur le site :
                    <a href="https://www.mbed.com/en/">https://www.mbed.com/en/</a>.</li>
                    <li> le site offre un compilateur online.
                      Le binaire issu de la compilation doit être déposé sur la
                    carte et est automatiquement exécuté.</li>
                    <li> Le site propose également l'outil Mercurial, en tant que gestionneur
                    de version.</li>
                  </ul>
              </ol>
            </p>
            <p>
              Lien du dépôt mercurial : <I>https://[login]@os.mbed.com/teams/PILBI/code/STM32/</I>
            </p>
          </div>

          <li class="collection-item">
            <h5>
              <a class="journal" href="javascript:void(0)" onclick="deroulerJournal('seance-03-12-18')">
                03 Decembre 2018
              </a>
            </h5>
          </li>
          <div class="corpsJournal" id="seance-03-12-18">
            <p> Points abordés :
              <ul class="browser-default" style="list-style-type:disc">
                <li></li>
              </ul>
            </p>
            <p> Détails de la séance :
              <ol class="browser-default">
                <li>
                </li>
                <br />
                <li> </li>
                  <ul class="browser-default" style="list-style-type:disc">
                    <li> </li>
                    <li> </li>
                    <li> </li>
                  </ul>
              </ol>
            </p>
            <p>

            </p>
          </div>

        </ul>
      </div>
    </div>
  </div>

  <script language="javascript" src="js/journal.js"></script>
</div>
