.popupBackground{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.popupBackground .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popupBackground > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    color: red;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
}
@media only screen and (min-width:993px) {
  .popupContent {
    text-align:right;
    padding-bottom:10%;
  }
  .popupTextContent {
    text-align: right;
    float: left;
    width: 35%;
  }
  .popupInput {
    text-align: left;
    padding-left: 4%;
    float:left;
    width: 65%;
  }
  .popupSelect {
    text-align: left;
    padding-left: 4%;
    float:left;
    width: 65%;
  }
  .popupInputContent {
    width: 70%;
  }
  .popupSelectContent {
    width: 70%
  }
}
@media only screen and (max-width:993px) {
  .popupContent {
    margin: auto;
    padding-bottom: 4%;
  }
  #lastContent {
    padding-bottom: 6%;
  }
  .popupTitleContent {
    font-size: 3vw;
  }
  .popupTextContent {
    text-align: center;
    width:100%;
  }
  .popupInput {
    width: 100%;
  }
  .popupSelect {
    width: 100%;
  }
  .popupInputContent {
    width: 67%;
  }
  .popupSelectContent {
    width:67%;
  }
}
