<div>

  <div class="container">
    <div class="row center">
      <div class="col s12 m12">
        <br />
        <h2 class="light secondTitleColor">Documentation du projet</h2>
        <br />
      </div>
    </div>
    <br />
  </div>

  <div class="tuile">
    <div class="headTuile">
      Spécifications générales
    </div>
    <br />
    <div style="text-align: left; padding-left: 3%">
      <h6 style="text-transform: uppercase">Cahier des Charges</h6>
      <ul class="browser-default" style="list-style-type:disc">
        <li>
          <p>
            <a href="documentation/CDC.tar" download>Download.</a>
          </p>
        </li>
      </ul>
    </div>
    <br />
    <div style="text-align: left; padding-left: 3%; padding-bottom: 3%">
      <h6 style="text-transform: uppercase">Interface Web</h6>
      <ul class="browser-default" style="list-style-type:disc">
        <li>
          <p>
            L'utilisateur se connecte depuis l'IHM.
          </p>
        </li>
        <li>
          <p>
            Page d'accueil :
          </p>
          <ul class="browser-default" style="list-style-type:rect">
            <li>
              Visualisation graphique des données des capteurs
            </li>
            <li>
              Selection des cultures
              (corrélations avec les données des capteurs +
              interpolation machine learning)
            </li>
            <li>
              Gestion des capteurs/systèmes contrôlables (ajouts, suppressions)
            </li>
            <br />
            <li style="color: rgb(120,120,120)">
              fonctionnalités facultatives : <br />
              Laisser l'utilisateur déclarer les seuils d'arrosage et autres systèmes,<br />
              Autoriser la gestion des comptes utilisateurs limités
              (visualisation indicateurs et/ou paramétrage)
            </li>
          </ul>
        </li>
        <li>
          <p>
            L'utilisateur peut modifier ses identifiants : login/mot de passe.
          </p>
        </li>
        <li>
          <p>
            L'utilisateur se déconnecte.
          </p>
        </li>
      </ul>
    </div>
  </div>

</div>
